@import 'src/styles/mixins';

.header {
    @include flex-horizontal-center;
    justify-content: space-between;

    .right-side {
        @include flex-horizontal-center;
        gap: 20px;

        .user-bg {
            border-radius: $radius;
            background: $bg-block;
        }
    }
}